@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.ff-caveat {
  font-family: 'Caveat', cursive;
}

.fixed-h {
  height: 1.8em;
  margin-top: 5px;
}

.fixed-w {
  width: 68vw;
}

.bg-gray {
  background-color: #bbb;
}

.books {
  border: 2px solid rgb(94, 88, 88);
  padding: 1vh 0;
  min-width: 200px;
}

.division {
  border: 2px solid rgb(26, 24, 24);
  width: 10%;
  margin: 5vh auto;
}

.form {
  text-align: center;
  margin: 10px 20% 0 20%;
}

.inputs {
  margin-bottom: 10px;
}

.nav-link {
  color:black;
}

.nav-link:hover {
  color:rgb(94, 88, 88);
}
